

{% set totalProducts=products|length %}
{% set totalRecommendations=recommendations|length %}
{% if totalProducts > 0 %}
<!-- 1/LINHA -->
<table width="700" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff">
	{% for i in 0..(totalProducts-1) %}
	<tr>
		<td align="center">
			<a href="{{ products[i]['productLink'] }}" style="text-decoration: none; color:#000000">
				<table width="700" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff">				
					<tr>
						<td width="200" height="200V" align="center">
							<!-- IMG -->
							<table width="200" cellpadding="15" cellspacing="0" border="0" align="center">
								<tr>
									<td width="200V" align="center">
										<a href="{{ products[i]['productLink'] }}">
											<img src="{{ products[i]['image'] }}" width="100%" border="0" style="display: block;">
										</a>
									</td>
								</tr>
							</table>
							<!-- END IMG -->	
						</td>
						<td width="350" align="center">
							<!-- NOME PRODUTO -->
							<table width="350" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td align="left" width="350" style="padding: 0px">
										<p style="font-family: Arial Nova, sans-serif; font-size: 16px; color: #000000; font-weight: bold;">{{ products[i]['productName'] }}</p>
									</td>
								</tr>
							</table>
							<!-- END NOME PRODUTO -->						
							<table width="350" border="0" cellpadding="0" cellspacing="0" align="center">
								<tr>
									<td align="left" width="350">
										{% if products[i]['price'] > products[i]['priceBy'] %}
										<!-- PRECO DE -->
										<table width="100" cellpadding="0" cellspacing="0" border="0" align="left">
											<tr>
												<td height="15" valign="top" align="left" style="font-family: Arial Nova, sans-serif; font-size: 12px; color: #000000; padding-bottom: 10px;">
													<span style="text-decoration: line-through #000000; font-weight: lighter;color: #000000; font-size: 12px">{{ products[i]['price'] }}</span>
												</td>
											</tr>
										</table>
										{% endif %}
										<!-- END PRECO DE -->
									</td>
								</tr>
								<tr>
									<td align="left" width="350">
										<!-- PRECO POR -->
										<table width="200" cellpadding="0" cellspacing="0" border="0" align="left">
											<tr>
												<td valign="top" height="20" align="left" style="font-family: Arial Nova, sans-serif; font-size: 24px; color: #73B61C; padding-bottom: 10px; font-weight: normal;">
													<span style="text-decoration: none; font-weight: bold;color: #73B61C; font-size: 24px">{{ products[i]['priceBy'] }} </span>
												</td>
											</tr>
										</table>
										<!-- END PRECO POR -->
									</td>
								</tr>
								<tr>
									<td align="left" width="350">
										<!-- PARCELAMENTO -->
										{% if products[i]['installment'] > 1 %}
										<table width="350" cellpadding="0" cellspacing="0" border="0" align="left">
											<tr>
												<td height="25" valign="top" align="left" style="font-family: Arial Nova, sans-serif; font-size: 10pt; color: #898989; padding-bottom: 05px;">
													Em <b>{{ products[i]['installment'] }}x</b> de <b>R${{ products[i]['installmentValue'] | number_format(2, ',', '.') }}</b> s/ juros
												</td>
											</tr>
										</table>
										{% endif %}
										<!-- END PARCELAMENTO -->
									</td>
								</tr>
								<tr>
									<td align="left" width="350">
										<!-- CTA -->
										<table width="200" border="0" cellspacing="0" cellpadding="0" align="left" style="">
											<tr>
												<td align="left" valign="bottom">
													<table>
														<tr>
															<td align="left" style="transition: 0.3s !important; background: #73B61C; font-size: 12px; font-family:Arial, sans-serif; font-weight:bold; text-decoration: none; padding: 5px 10px; color: #000000; border-radius: 5px; display:inline-block; box-shadow:0 3px 6px rgba(0,0,0,.1);width: 120px;color: #ffffff;line-height: 30px;border-radius: 25px;">
																<center>
																	COMPRAR
																</center>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<!--END  CTA -->	
									</td>
								</tr>
							</table>			
						</td>
					</tr>
				</table>
			</a>
		</td>
	</tr>
	{% endfor %}
</table>
</center>
{% endif %}
{% if totalRecommendations >= 3 %}
<!-- RECOMENDATIONS -->
<center>
	<table cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="width: 596px; max-width: 596px; min-width: 596px; background-color: #ffffff;">
		<tr>
			<td align="center" style="padding: 10px 0px;background-color: #ffffff;">
				<p style="font-family:sans-serif; color:#000000; font-weight: bold; font-size: 18pt;">Recomendados para você!</p>
			</td>
		</tr>
	</table>
</center>

<!-- 3/linha -->
{% set c=0 %}
{% set totalLines = (totalRecommendations / 3) | round(0, 'floor') %}
{% for l in range(1, totalLines) %}
<center>
	<table width="700" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
		<tr>
			<!-- Product 1 -->
			<td valign="top" align="center">
				<a href="{{ recommendations[c]['productLink'] }}" target="_blank" style="text-decoration: none; color: #000000;">
					<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
						<tr>
							<td align="center">
								<!-- IMG_PRODUCT -->
								<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
									<tr>
										<td width="174" height="174" valign="top" align="center">
											<a href="{{ recommendations[c]['productLink'] }}" target="_blank">
												<img src="{{ recommendations[c]['image'] }}" width="100%" border="0" style="display: block;">
											</a>
										</td>
									</tr>
								</table>
								<!-- NOME_PRODUCT -->
								<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
									<tr>
										<td align="left" valign="top" height="80" style="padding: 10px 0px 0px 10px; font-family: Arial Nova, sans-serif; font-size: 13px; color: #000000">
											<strong>{{ recommendations[c]['productName'] }}</strong>
										</td>
									</tr>
								</table>
								<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
									<tr>
										<td align="center" height="50" valign="center">
											<!-- DE_PRICE_PRODUCT -->
											{% if recommendations[c]['price'] > recommendations[c]['priceBy'] %}
											<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td align="left" valign="top" style="padding: 0px 0px 0px 16px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #000000">
														<span style="text-decoration: line-through #3c3c3c; font-weight: normal;color: #000000; font-size: 12px">{{ recommendations[c]['price'] }}</span>
													</td>
												</tr>
											</table>
											{% endif %}
											<!-- POR_PRICE_PRODUCT -->
											<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td align="left" valign="top" style="padding: 0px 0px 0px 16px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #73B61C; font-weight: bold;"><span style="text-decoration: none; color: #73B61C; font-weight: normal; font-size: 16px; font-weight: bold;">{{ recommendations[c]['priceBy'] }}
													</td>
												</tr>
											</table>
											<!-- PARCELA_PRODUCT -->
											{% if recommendations[c]['installment'] > 1 %}
											<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td align="left" valign="top" style="padding: 0px 0px 0px 16px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #898989">
														Em <b>{{ recommendations[c]['installment'] }}x</b> de <b>{{ recommendations[c]['installmentValue'] | number_format(2, ',', '.') }}</b> sem juros
													</td>
												</tr>
											</table>
											{% endif %}
										</td>
									</tr>
								</table>
								<!-- CTA -->
								<table width="200" border="0" cellspacing="0" cellpadding="0" align="center" style="">
									<tr>
										<td align="center" valign="bottom">
											<table>
												<tr>
													<td align="center" style="transition: 0.3s !important; background: #73B61C; font-size: 12px; font-family:Arial, sans-serif; font-weight:bold; text-decoration: none; padding: 5px 10px; color: #000000; border-radius: 5px; display:inline-block; box-shadow:0 3px 6px rgba(0,0,0,.1);width: 120px;color: #ffffff;line-height: 30px;border-radius: 25px;">
														COMPRAR
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--END  CTA -->			
							</td>
						</tr>
					</table>
				</span>
			</td>
			<td width="1" bgcolor="#ffffff" align="center" valign="top" style="background-color:#ffffff;">
			</td>
			<!-- Product 2 -->
			<td valign="top" align="center">
				<a href="{{ recommendations[(c + 1)]['productLink'] }}" target="_blank" style="text-decoration: none; color: #000000;">
					<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
						<tr>
							<td align="center">
								<!-- IMG_PRODUCT -->
								<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
									<tr>
										<td width="174" height="174" valign="top" align="center">
											<a href="{{ recommendations[(c + 1)]['productLink'] }}" target="_blank">
												<img src="{{ recommendations[(c + 1)]['image'] }}" width="100%" border="0" style="display: block;">
											</a>
										</td>
									</tr>
								</table>
								<!-- NOME_PRODUCT -->
								<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
									<tr>
										<td align="left" valign="top" height="80" style="padding: 10px 0px 0px 10px; font-family: Arial Nova, sans-serif; font-size: 13px; color: #000000">
											<strong>{{ recommendations[(c + 1)]['productName'] }}</strong>
										</td>
									</tr>
								</table>
								<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
									<tr>
										<td align="center" height="50" valign="center">
											<!-- DE_PRICE_PRODUCT -->
											{% if recommendations[(c + 1)]['price'] > recommendations[(c + 1)]['priceBy'] %}
											<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td align="left" valign="top" style="padding: 0px 0px 0px 16px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #000000">
														<span style="text-decoration: line-through #3c3c3c; font-weight: normal;color: #000000; font-size: 12px">{{ recommendations[(c + 1)]['price'] }}</span>
													</td>
												</tr>
											</table>
											{% endif %}
											<!-- POR_PRICE_PRODUCT -->
											<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td align="left" valign="top" style="padding: 0px 0px 0px 16px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #73B61C;font-weight: bold;">
														<span style="text-decoration: none; color: #73B61C; font-weight: bold; font-size: 16px">{{ recommendations[(c + 1)]['priceBy'] }}</span>
													</td>
												</tr>
											</table>
											<!-- PARCELA_PRODUCT -->
											{% if recommendations[(c + 1)]['installment'] > 1 %}
											<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td align="left" valign="top" style="padding: 0px 0px 0px 16px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #898989">
														Em <b>{{ recommendations[(c + 1)]['installment'] }}x</b> de <b>{{ recommendations[(c + 1)]['installmentValue'] | number_format(2, ',', '.') }}</b> sem juros
													</td>
												</tr>
											</table>
											{% endif %}
										</td>
									</tr>
								</table>
								<!-- CTA -->
								<table width="200" border="0" cellspacing="0" cellpadding="0" align="center" style="">
									<tr>
										<td align="center" valign="bottom">
											<table>
												<tr>
													<td align="center" style="transition: 0.3s !important; background: #73B61C; font-size: 12px; font-family:Arial, sans-serif; font-weight:bold; text-decoration: none; padding: 5px 10px; color: #000000; border-radius: 5px; display:inline-block; box-shadow:0 3px 6px rgba(0,0,0,.1);width: 120px;color: #ffffff;line-height: 30px;border-radius: 25px;">
														COMPRAR
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--END  CTA -->			
							</td>
						</tr>
					</table>
				</a>
			</td>
			<td width="1" bgcolor="#ffffff" align="center" valign="top" style="background-color:#ffffff;">
			</td>
			<!-- Product 3 -->
			<td valign="top" align="center">
				<a href="{{ recommendations[(c + 2)]['productLink'] }}" target="_blank" style="text-decoration: none; color: #000000;">
					<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
						<tr>
							<td align="center">
								<!-- IMG_PRODUCT -->
								<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
									<tr>
										<td width="174" height="174" valign="top" align="center">
											<a href="{{ recommendations[(c + 2)]['productLink'] }}" target="_blank" style="text-decoration: none; color: #000000;">
												<img src="{{ recommendations[(c + 2)]['image'] }}" width="100%" border="0" style="display: block;">
											</a>
										</td>
									</tr>
								</table>
								<!-- NOME_PRODUCT -->
								<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
									<tr>
										<td align="left" valign="top" height="80" style="padding: 10px 0px 0px 10px; font-family: Arial Nova, sans-serif; font-size: 13px; color: #000000">
											<strong>{{ recommendations[(c + 2)]['productName'] }}</strong>
										</td>
									</tr>
								</table>
								<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
									<tr>
										<td align="center" height="50" valign="center">
											<!-- DE_PRICE_PRODUCT -->
											{% if recommendations[(c + 2)]['price'] > recommendations[(c + 2)]['priceBy'] %}
											<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td align="left" valign="top" style="padding: 0px 0px 0px 16px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #000000">
														<span style="text-decoration: line-through #3c3c3c; font-weight: normal;color: #000000; font-size: 12px">{{ recommendations[(c + 2)]['price'] }}</span>
													</td>
												</tr>
											</table>
											{% endif %}
											<!-- POR_PRICE_PRODUCT -->
											<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td align="left" valign="top" style="padding: 0px 0px 0px 16px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #73B61C; font-weight: bold;">
														<span style="text-decoration: none; color: #73B61C; font-weight: bold; font-size: 16px">{{ recommendations[(c + 2)]['priceBy'] }}</span>
													</td>
												</tr>
											</table>
											<!-- PARCELA_PRODUCT -->
											{% if recommendations[(c + 2)]['installment'] > 1 %}
											<table width="174" cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td align="left" valign="top" style="padding: 0px 0px 0px 16px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #898989">
														Em <b>{{ recommendations[(c + 2)]['installment'] }}x</b> de <b>{{ recommendations[(c + 2)]['installmentValue'] | number_format(2, ',', '.') }}</b> sem juros
													</td>
												</tr>
											</table>
											{% endif %}
										</td>
									</tr>
								</table>
								<!-- CTA -->
								<table width="200" border="0" cellspacing="0" cellpadding="0" align="center" style="">
									<tr>
										<td align="center" valign="bottom">
											<table>
												<tr>
													<td align="center" style="transition: 0.3s !important; background: #73B61C; font-size: 12px; font-family:Arial, sans-serif; font-weight:bold; text-decoration: none; padding: 5px 10px; color: #000000; border-radius: 5px; display:inline-block; box-shadow:0 3px 6px rgba(0,0,0,.1);width: 120px;color: #ffffff;line-height: 30px;border-radius: 25px;">
														COMPRAR
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--END  CTA -->				
							</td>
						</tr>
					</table> 
				</a>
			</td>
		</tr>
	</table>
	<table width="700" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
		<tr>
			<td width="700" height="20" bgcolor="#ffffff" align="center" valign="top" style="background-color:#ffffff;">
			</td>
		</tr>
	</table>
	

	{% set c = c + 3 %}
	{% endfor %}
	<!-- END RECOMMENDATIONS -->
	{% endif %}