

{% set totalProducts=products|length %}
{% set totalRecommendations=recommendations|length %}
{% if totalProducts > 0 %}
<!-- 1/LINHA -->


<table width="840" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F1F1F1">
	{% for i in 0..(totalProducts-1) %}
	<tr>
		<td align="left">
			<a href="{{ products[i]['productLink'] }}" style="text-decoration:none;">
				<table align="center" cellpadding="0" cellpadding="0" border="0" width="640" bgcolor="#fff" style="border-radius: 50px;">
					<tr>
						<td width="180" valign="top">
							<table align="center" cellpadding="0" cellpadding="0" border="0" width="200">
								<tr>
									<td align="left" valign="middle">
										<img src="{{ products[i]['image'] }}" width="70%" style="padding: 25px;">
									</td>
								</tr>
							</table>
						</td>
						<td width="320" valign="top">
							<table align="center" cellpadding="0" cellpadding="0" border="0" width="300">
								<tr>
									<td align="left">
										<p style="text-align:left; font-family: sans-serif;">
											<b>
												<span style="font-size:16px; color:#000000">{{ products[i]['productName'] }}</span>
											</b>
											{% if products[i]['installment'] > 1 %}
											<br><br><br><br>
											<b>
												<span style="font-size:18px; color:#95C93D; font-weight: bold;">{{ products[i]['installment'] }}x de R${{ products[i]['installmentValue'] | number_format(2, ',', '.') }}</span> <span style="color:#000;"> /juros</span>
											</b>
											<br><br>
											{% endif %}
											<b><span style="font-size:18px; color:#118BC9">{{ products[i]['priceBy'] }} </span></b> <span style="color: #000000; font-size:12px;">à vista</span>
										</p>
									</td>
								</tr>
							</table>
						</td>
						<td width="140" valign="bottom">
							<table align="center" cellpadding="0" cellpadding="0" border="0" width="140">
								<tr>
									<td align="left">
										<img src="https://imagem-de-campanha.s3.amazonaws.com/PBkids/BTG/2022/202204/20220418_A/cta.png" width="140" height="35" style="padding: 0px 20px 40px 0px;">
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</a>
		</td>
	</tr>
	<tr><td height="20"></td></tr>
	{% endfor %}
</table>

{% endif %}
{% if totalRecommendations >= 3 %}






<!-- 3/linha -->
{% set c=0 %}
{% set totalLines = (totalRecommendations / 3) | round(0, 'floor') %}
{% for l in range(1, totalLines) %}
<table width="680" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff" style="border-radius:50px;">
	<tr>
		<!-- Product 1 -->
		<td valign="top" align="center">

			<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff">
				<tr>
					<!-- Product 1 -->
					<td valign="top" align="center">
						<table width="200" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff" style="padding-top:15px;">
							<tr>
								<td align="center">
									<!-- IMG_PRODUCT -->
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
										<tr>
											<td width="200" height="200" valign="top" align="center">
												<a href="{{ recommendations[c]['productLink'] }}" target="_blank">
													<img src="{{ recommendations[c]['image'] }}" width="90%" border="0" style="display: block;">
												</a>
											</td>
										</tr>
									</table>
									<!-- NOME_PRODUCT -->
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
										<tr>
											<td align="center" valign="top" height="80">
												<p style="text-align: left; font-family: Arial Nova, sans-serif; font-size: 13px; width: 190px; color: #001D3C; font-weight: bold;">
													{{ recommendations[c]['productName'] }}
												</p>
											</td>
										</tr>
									</table>
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
										<tr>
											<td align="center" height="70" valign="center">
												<!-- DE_PRICE_PRODUCT -->
												{% if recommendations[c]['price'] > recommendations[c]['priceBy'] %}
												<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
													<tr>
														<td align="left" valign="top" style="padding: 0px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #000">
															<span style="color: #000">De:</span> <span style="text-decoration: line-through #3c3c3c; font-weight: normal;color: #000; font-size: 12px">{{ recommendations[c]['price'] }}</span>
														</td>
													</tr>
												</table>
												{% endif %}
												<!-- POR_PRICE_PRODUCT -->
												<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
													<tr>
														<td align="left" valign="top" style="font-family: Arial Nova, sans-serif; font-size: 20px; color: #0083C5; font-weight: bold; padding-bottom: 1px; padding-top: 20px;">
															<span style="color: #000">Por:</span> <span style="text-decoration: none; font-size: 16px; font-weight: bold; color: #0083C5;">{{ recommendations[c]['priceBy'] }}</span>
														</td>
													</tr>
												</table>
												<!-- PARCELA_PRODUCT -->
												{% if recommendations[c]['installment'] > 1 %}
												<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
													<tr>
														<td align="left" valign="top" style="font-family: Arial Nova, sans-serif; font-size: 12px; color: #95c93d; padding-left: 0px;">
															Em <b>{{ recommendations[c]['installment'] }}x</b> de <b>{{ recommendations[c]['installmentValue'] | number_format(2, ',', '.') }}</b> sem juros
														</td>
													</tr>
												</table>
												{% endif %}
											</td>
										</tr>
									</table>
									<!-- CTA -->
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0px">
										<tr>
											<td valign="bottom" align="left">
												<a href="{{ recommendations[c]['productLink'] }}"><img src="https://imagem-de-campanha.s3.amazonaws.com/PBkids/BTG/2022/202204/20220418_A/cta.png" width="180">
												</a>
											</td>
										</tr>
									</table>
									<!--END  CTA -->			
								</td>
							</tr>
						</table>
					</td>

					<!-- Product 2 -->
					<td valign="top" align="center">
						<table width="200" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff" style="padding-top:15px;">
							<tr>
								<td align="center">
									<!-- IMG_PRODUCT -->
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
										<tr>
											<td width="200" height="200" valign="top" align="center">
												<a href="{{ recommendations[(c + 1)]['productLink'] }}" target="_blank">
													<img src="{{ recommendations[(c + 1)]['image'] }}" width="90%" border="0" style="display: block;">
												</a>
											</td>
										</tr>
									</table>
									<!-- NOME_PRODUCT -->
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
										<tr>
											<td align="center" valign="top" height="80">
												<p style="text-align: left; font-family: Arial Nova, sans-serif; font-size: 13px; width: 190px; color: #001D3C; font-weight: bold;">
													{{ recommendations[(c + 1)]['productName'] }}	
												</p>
											</td>
										</tr>
									</table>
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
										<tr>
											<td align="center" height="70" valign="center">
												<!-- DE_PRICE_PRODUCT -->
												{% if recommendations[(c + 1)]['price'] > recommendations[(c + 1)]['priceBy'] %}
												<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
													<tr>
														<td align="left" valign="top" style="padding: 0px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #000">
															<span style="color: #000">De:</span> <span style="text-decoration: line-through #3c3c3c; font-weight: normal;color: #000; font-size: 12px">{{ recommendations[(c + 1)]['price'] }}</span>
														</td>
													</tr>
												</table>
												{% endif %}
												<!-- POR_PRICE_PRODUCT -->
												<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
													<tr>
														<td align="left" valign="top" style="font-family: Arial Nova, sans-serif; font-size: 20px; color: #0083C5; font-weight: bold; padding-bottom: 1px; padding-top: 20px;">
															<span style="color: #000">Por:</span> <span style="text-decoration: none; font-size: 16px; font-weight: bold; color: #0083C5;">{{ recommendations[(c + 1)]['priceBy'] }}</span>
														</td>
													</tr>
												</table>
												<!-- PARCELA_PRODUCT -->
												{% if recommendations[(c + 1)]['installment'] > 1 %}
												<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
													<tr>
														<td align="left" valign="top" style="font-family: Arial Nova, sans-serif; font-size: 12px; color: #95c93d; padding-left: 0px;">
															Em <b>{{ recommendations[(c + 1)]['installment'] }}x</b> de <b>{{ recommendations[(c + 1)]['installmentValue'] | number_format(2, ',', '.') }}</b> sem juros
														</td>
													</tr>
												</table>
												{% endif %}
											</td>
										</tr>
									</table>
									<!-- CTA -->
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0px">
										<tr>
											<td valign="bottom" align="left">
												<a href="{{ recommendations[(c + 1)]['productLink'] }}"><img src="https://imagem-de-campanha.s3.amazonaws.com/PBkids/BTG/2022/202204/20220418_A/cta.png" width="180">
												</a>
											</td>
										</tr>
									</table>
									<!--END  CTA -->			
								</td>
							</tr>
						</table>
					</td>
					<!-- Product 3 -->
					<td valign="top" align="center">
						<table width="200" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff" style="padding-top:15px;">
							<tr>
								<td align="center">
									<!-- IMG_PRODUCT -->
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
										<tr>
											<td width="200" height="200" valign="top" align="center">
												<a href="{{ recommendations[(c + 2)]['productLink'] }}" target="_blank">
													<img src="{{ recommendations[(c + 2)]['image'] }}" width="90%" border="0" style="display: block;">
												</a>
											</td>
										</tr>
									</table>
									<!-- NOME_PRODUCT -->
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
										<tr>
											<td align="center" valign="top" height="80">
												<p style="text-align: left; font-family: Arial Nova, sans-serif; font-size: 13px; width: 190px; color: #001D3C; font-weight: bold;">
													{{ recommendations[(c + 2)]['productName'] }}
												</p>
											</td>
										</tr>
									</table>
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
										<tr>
											<td align="center" height="70" valign="center">
												<!-- DE_PRICE_PRODUCT -->
												{% if recommendations[(c + 2)]['price'] > recommendations[(c + 2)]['priceBy'] %}
												<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
													<tr>
														<td align="left" valign="top" style="padding: 0px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #000">
															<span style="color: #000">De:</span> <span style="text-decoration: line-through #3c3c3c; font-weight: normal;color: #000; font-size: 12px">{{ recommendations[(c + 2)]['price'] }}</span>
														</td>
													</tr>
												</table>
												{% endif %}
												<!-- POR_PRICE_PRODUCT -->
												<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
													<tr>
														<td align="left" valign="top" style="font-family: Arial Nova, sans-serif; font-size: 20px; color: #0083C5; font-weight: bold; padding-bottom: 1px; padding-top: 20px;">
															<span style="color: #000">Por:</span> <span style="text-decoration: none; font-size: 16px; font-weight: bold; color: #0083C5;">{{ recommendations[(c + 2)]['priceBy'] }}</span>
														</td>
													</tr>
												</table>
												<!-- PARCELA_PRODUCT -->
												{% if recommendations[(c + 2)]['installment'] > 1 %}
												<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
													<tr>
														<td align="left" valign="top" style="font-family: Arial Nova, sans-serif; font-size: 12px; color: #95c93d; padding-left: 0px;">
															Em <b>{{ recommendations[(c + 2)]['installment'] }}x</b> de <b>{{ recommendations[(c + 2)]['installmentValue'] | number_format(2, ',', '.') }}</b> sem juros
														</td>
													</tr>
												</table>
												{% endif %}
											</td>
										</tr>
									</table>
									<!-- CTA -->
									<table width="200" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0px">
										<tr>
											<td valign="bottom" align="left">
												<a href="{{ recommendations[(c + 2)]['productLink'] }}"><img src="https://imagem-de-campanha.s3.amazonaws.com/PBkids/BTG/2022/202204/20220418_A/cta.png" width="180">
												</a>
											</td>
										</tr>
									</table>
									<!--END  CTA -->				
								</td>
							</tr>
						</table> 
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table><tr><td height="15"></td></tr></table>
{% set c = c + 3 %}
{% endfor %}
<!-- END RECOMMENDATIONS -->
{% endif %}