{% set totalProducts=products|length %}{% set totalRecommendations=recommendations|length %}{% if totalProducts > 0 %}
<table width="600" border="0" cellpadding="0" cellspacing="0" align="center">       
    <tr>
        <td align="center">
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td align="center">
                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td align="center">
                                    <a href="{{products[0]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                                        <img border="0" src="{{products[0]['image']}}" width="500" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">
                                        <tr>
                                            <td align="center">
                                                <a href="{{products[0]['productLink']}}" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;" target="_blank">
                                                    {{products[0]['productName']}}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                        {% if products[i]['priceByNum'] < products[0]['priceNum'] %}
                                        <tr>
                                            <td align="center">
                                                DE R$ {{products[0]['price']}}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <td align="center">
                                                POR R$ {{products[0]['priceBy']}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table cellpadding="0" cellspacing="0" align="center">
                                                    <tr>
                                                        <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                                                            <a target="_blank" href="{{products[0]['productLink']}}" style="text-decoration: none; color: #ffffff;">
                                                                COMPRAR
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% if totalProducts in [4,7,10] %}{% set totalList=(totalProducts - 1) / 3 %}{% set c=1 %}{% for i in 1..totalList %}
<table cellpadding="0" cellspacing="0" width="600" align="center">       
    <tr>
        <td align="center">
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">
                <tr>
                    <td width="188" align="center">
                        <a href="{{products[c]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                            <img border="0" src="{{products[c]['image']}}" width="188" alt="">
                        </a>
                    </td>
                    <td width="188" align="center">
                        <a href="{{products[(c + 1)]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                            <img border="0" src="{{products[(c + 1)]['image']}}" width="188" alt="">
                        </a>
                    </td>
                    <td width="188" align="center">

                        <a href="{{products[(c + 2)]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                            <img border="0" src="{{products[(c + 2)]['image']}}" width="188" alt="">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td width="188" align="center" valign="top">
                        {{products[c]['productName']}}
                    </td>
                    <td width="188" align="center" valign="top">
                        {{products[(c + 1)]['productName']}}
                    </td>
                    <td width="188" align="center" valign="top">
                        {{products[(c + 2)]['productName']}}
                    </td>
                </tr>
                <tr>
                    <td height="15"></td>
                </tr>
                <tr>
                    <td width="188" align="center">
                        {% if products[c]['priceByNum'] < products[c]['priceNum'] %}
                        DE R$ {{products[c]['price']}}
                        <br>POR R$ {{products[c]['priceBy']}}
                        {% endif %}<br>
                    </td>
                    <td width="188" align="center">
                        {% if products[(c + 1)]['priceByNum'] < products[(c + 1)]['priceNum'] %}
                        DE R$ {{products[(c + 1)]['price']}}
                        <br>POR R$ {{products[(c + 1)]['priceBy']}}
                        {% endif %}<br>
                    </td>
                    <td width="188" align="center">
                        {% if products[(c + 2)]['priceByNum'] < products[(c + 2)]['priceNum'] %}
                        DE R$ {{products[(c + 2)]['price']}}
                        <br>POR R$ {{products[(c + 2)]['priceBy']}}
                        {% endif %}<br>
                    </td>
                </tr>
                <tr>
                    <td width="188" height="60" align="center">
                        <table cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                                    <a target="_blank" href="{{products[c]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                                        COMPRAR
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="188" height="60" align="center">
                        <table cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                                    <a target="_blank" href="{{products[(c + 1)]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                                        COMPRAR
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="188" align="center">
                        <table cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                                    <a target="_blank" href="{{products[(c + 2)]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                                        COMPRAR
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% set c=c + 3 %}{% endfor %}{% elseif totalProducts in [3,5] %}{% set totalList=(totalProducts - 1) / 2 %}{% set c=1 %}{% for i in 1..totalList %}
<table cellpadding="0" cellspacing="0" width="600" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">       
    <tr>
        <td align="center">
            <table width="600" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td width="289" align="center">
                        <a href="{{products[c]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                            <img border="0" src="{{products[c]['image']}}" width="289" alt="">
                        </a>
                    </td>
                    <td width="289" align="center">
                        <a href="{{products[(c + 1)]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                            <img border="0" src="{{products[(c + 1)]['image']}}" width="289" alt="">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td width="289" align="center" valign="top">
                        {{products[c]['productName']}}
                    </td>
                    <td width="289" align="center" valign="top">
                        {{products[(c + 1)]['productName']}}
                    </td>
                </tr>
                <tr>
                    <td height="15"></td>
                </tr>
                <tr>
                    <td width="289" align="center">
                        {% if products[c]['priceByNum'] < products[c]['priceNum'] %}
                        DE R$ {{products[c]['price']}}
                        <br>POR R$ {{products[c]['priceBy']}}
                        {% endif %}<br>
                    </td>
                    <td width="289" align="center">
                        {% if products[(c + 1)]['priceByNum'] < products[(c + 1)]['priceNum'] %}
                        DE R$ {{products[(c + 1)]['price']}}
                        <br>POR R$ {{products[c + 1]['priceBy']}}
                        {% endif %}<br>
                    </td>
                </tr>
                <tr>
                    <td width="289" height="60" align="center">
                        <table cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                                    <a target="_blank" href="{{products[c]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                                        COMPRAR
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="289" height="60" align="center">                        
                        <table cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                                    <a target="_blank" href="{{products[(c + 1)]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                                        COMPRAR
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% set c=c + 2 %}{% endfor %}{% else %}{% if totalProducts > 1 %}{% for i in 1..(totalProducts - 1) %}
<table cellpadding="0" cellspacing="0" width="600" border="0" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">       
    <tr>
        <td align="center">
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="left">
                <tr>
                    <td align="left">
                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td align="left" width="200">
                                    <a href="{{products[i]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                                        <img border="0" src="{{products[i]['image']}}" width="200" alt="">
                                    </a>
                                </td>
                                <td align="left" width="300" style="padding-left: 50px;">
                                    <table align="left">
                                        <tr>
                                            <td align="left">
                                                <a href="{{products[i]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                                                    {{products[i]['productName']}}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                        {% if products[i]['priceByNum'] < products[i]['priceNum'] %}
                                        <tr>
                                            <td align="left">
                                                DE R$ {{products[i]['price']}}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <td align="left">
                                                POR R$ {{products[i]['priceBy']}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <table cellpadding="0" cellspacing="0" align="left">
                                                    <tr>
                                                        <td align="left" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                                                            <a target="_blank" href="{{products[i]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                                                                COMPRAR
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td height="15"></td>
    </tr>
</table>
{% endfor %}{% endif %}{% endif %}
<table cellpadding="0" cellspacing="0" width="600" border="0" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">   
    <tr>
        <td align="center">    
            <table width="596" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td align="center">
                        <table cellspacing="0" cellpadding="0" border="0" width="600">
                            <tr>
                                <td align="center" height="40" bgcolor="#000000" style="font-family: sans-serif; color: #ffffff;">
                                    RECOMENDADOS PARA VOCÊ
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td height="15"></td>
    </tr>
</table>
{% if totalRecommendations in [3,6,9,12] %}{% set totalList=totalRecommendations / 3 %}{% set c=0 %}{% for i in 1..totalList %}
<table width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">
    <tr>
        <td width="188" align="center">
            <a href="{{recommendations[c]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                <img border="0" src="{{recommendations[c]['image']}}" width="188" alt="">
            </a>
        </td>                      
        <td width="188" align="center">
            <a href="{{recommendations[(c + 1)]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                <img border="0" src="{{recommendations[(c + 1)]['image']}}" width="188" alt="">
            </a>
        </td>
        <td width="188" align="center">
            <a href="{{recommendations[(c + 2)]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                <img border="0" src="{{recommendations[(c + 2)]['image']}}" width="188" alt="">
            </a>
        </td>
    </tr>
    <tr>
        <td width="188" align="center" valign="top">
            {{recommendations[c]['productName']}}
        </td>
        <td width="188" align="center" valign="top">
            {{recommendations[(c + 1)]['productName']}}
        </td>
        <td width="188" align="center" valign="top">
            {{recommendations[(c + 2)]['productName']}}
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td width="188" align="center">
            {% if recommendations[c]['priceByNum'] < recommendations[c]['priceNum'] %}
            DE R$ {{recommendations[c]['price']}}
            <br>POR R$ {{products[c]['priceBy']}}
            {% endif %}<br>
        </td>
        <td width="188" align="center">
            {% if recommendations[(c + 1)]['priceByNum'] < recommendations[(c + 1)]['priceNum'] %}
            DE R$ {{recommendations[(c + 1)]['price']}}
            <br>POR R$ {{products[c + 1]['priceBy']}}
            {% endif %}<br>
        </td>
        <td width="188" align="center">
            {% if recommendations[(c + 2)]['priceByNum'] < recommendations[(c + 2)]['priceNum'] %}
            DE R$ {{recommendations[(c + 2)]['price']}}
            <br>POR R$ {{products[c + 2]['priceBy']}}
            {% endif %}<br>
        </td>
    </tr>
    <tr>
        <td width="188" height="60" align="center">
            <table cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                        <a target="_blank" href="{{recommendations[c]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                            COMPRAR
                        </a>
                    </td>
                </tr>
            </table>
        </td>
        <td width="188" height="60" align="center">
            <table cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                        <a target="_blank" href="{{recommendations[(c + 1)]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                            COMPRAR
                        </a>
                    </td>
                </tr>
            </table>
        </td>
        <td width="188" align="center">
            <table cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                        <a target="_blank" href="{{recommendations[(c + 2)]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                            COMPRAR
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% set c=c + 3 %}{% endfor %}{% elseif totalRecommendations in [2,4,8,10] %}{% set totalList=totalRecommendations / 2 %}{% set c=0 %}{% for i in 1..totalList %}
<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">
    <tr>
        <td align="center">
            <table width="600" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td width="289" align="center">
                        <a href="{{recommendations[c]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                            <img border="0" src="{{recommendations[c]['image']}}" width="289" alt="">
                        </a>
                    </td>
                    <td width="289" align="center">
                        <a href="{{recommendations[(c + 1)]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                            <img border="0" src="{{recommendations[(c + 1)]['image']}}" width="289" alt="">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td width="289" align="center" valign="top">
                        {{recommendations[c]['productName']}}
                    </td>
                    <td width="289" align="center" valign="top">
                        {{recommendations[(c + 1)]['productName']}}
                    </td>
                </tr>
                <tr>
                    <td height="15"></td>
                </tr>
                <tr>
                    <td width="289" align="center">
                        {% if recommendations[c]['priceByNum'] < recommendations[c]['priceNum'] %}
                        DE R$ {{recommendations[c]['price']}}
                        <br>POR R$ {{products[c]['priceBy']}}
                        {% endif %}<br>
                    </td>
                    <td width="289" align="center">
                        {% if recommendations[(c + 1)]['priceByNum'] < recommendations[(c + 1)]['priceNum'] %}
                        DE R$ {{recommendations[(c + 1)]['price']}}
                        <br>POR R$ {{products[c + 1]['priceBy']}}
                        {% endif %}<br>
                    </td>
                </tr>
                <tr>
                    <td width="289" height="60" align="center">
                        <table cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                                    <a target="_blank" href="{{recommendations[c]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                                        COMPRAR
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="289" height="60" align="center">
                        <table cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                                    <a target="_blank" href="{{recommendations[(c + 1)]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                                        COMPRAR
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% set c=c + 2 %}{% endfor %}{% else %}{% if totalRecommendations > 0 %}{% for i in 0..(totalRecommendations - 1) %}
<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">
    <tr>
        <td align="center">
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td align="center">
                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td align="center">
                                    <a href="{{recommendations[i]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                                        <img border="0" src="{{recommendations[i]['image']}}" width="200" alt="">
                                    </a>
                                </td>
                                <td align="center">
                                    <table align="center">
                                        <tr>
                                            <td align="center">
                                                <a href="{{recommendations[i]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
                                                    {{recommendations[i]['productName']}}
                                                </a>
                                            </td>
                                        </tr>
                                         <tr>
                                            <td height="15"></td>
                                        </tr>
                                        {% if recommendations[i]['priceByNum'] < recommendations[i]['priceNum'] %}
                                        <tr>
                                            <td align="center">
                                                DE R$ {{recommendations[i]['price']}}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <td align="center">
                                                POR R$ {{recommendations[i]['priceBy']}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table cellpadding="0" cellspacing="0" align="center">
                                                    <tr>
                                                        <td align="center" style="padding: 10px; width: 150px; height: 20px; border: 0px;padding: 5px; background-color: #008844;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
                                                            <a target="_blank" href="{{recommendations[i]['productLink']}}" style="text-decoration: none;color: #ffffff;">
                                                                COMPRAR
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {% endfor %}{% endif %}{% endif %}
</table>
{% endif %}